@using MVC_Stok_Takip_Sistemi.Models.Entity
@model List<MVC_Stok_Takip_Sistemi.Models.Entity.Unit>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-start">Unit Page</h2>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Unit</th>
                <th>Description</th>
                <th>Delete</th>
                <th>Update</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Unit1</td>
                    <td>@item.Description</td>
                    <th><a href="/Unit/ComeDelete/@item.ID" class="btn btn-danger">Delete</a></th>
                    <th><a href="/Unit/UpdateInformation/@item.ID" class="btn btn-warning">Update</a></th>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-start">
    <a href="/Unit/Add/" class="btn btn-success" style="margin-top:15px;">
        Add New Unit
    </a>
</div>
