
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Brand List</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Description</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <th>@item.ID</th>
                    <td>@item.Category.ID</td>
                    <td>@item.Brand1</td>
                    <td>@item.Description</td>
                    <td><a href="/Brands/DeleteBrand/@item.ID" class="btn btn-danger">Delete</a></td>
                    <td><a href="/Brands/UpdateInformation/@item.ID" class="btn btn-primary">Update</a></td>

                </tr>
            }
    </tbody>
</table>
<a href="/Brands/Add/" class="btn btn-success"> Add Brand</a>