@using MVC_Stok_Takip_Sistemi.Models.Entity
@model List<MVC_Stok_Takip_Sistemi.Models.Entity.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-start">Category Home Page</h2>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
